<header class="header">
    <nav class="nav">
        <ul class="nav__list">
        {% set navigation = craft.entries.section('navigation').all() %}
            {% for navItem in navigation %}
                <li class="nav__item ">
                    <a href="{{ navItem.urllink }}">{{ navItem.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>
