:root {
    --page: #2A004E;
    --background: hsl(0, 0%, 100%, 10%);
    --text: #FFFFFF;
    --selected: #7A1CAC;
}

body {
    background-color: var(--page);
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--text);
}